 * {
     text-decoration: none;
     list-style: none;
 }
 
 .container_all {
     background-image: url(../img/fundo.jpg);
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-size: cover;
 }
 
 .topo {
     background-color: #9e90906b;
     display: flex;
     justify-content: space-around;
     align-items: center;
     backdrop-filter: blur(1px);
 }
 
 .logo {
     width: 100px;
 }
 
 .menu {
     display: flex;
 }
 
 .menu li {
     padding: 5px;
 }
 
 h1 {
     text-align: center;
     color: #fff
 }